button {
    /* Style applique sur des balises */
    background-color: beige;
    padding: 5px;
    margin: 5px;
    width: 60px;
    border-radius: 5px
}

#buttonOutsideDiv {
    /* Style applique sur l'element qui a l'id "buttonOutsideDiv" */
    border-color: yellow;
}

.buttonInDiv {
    /* Style applique sur les elements qui ont  la classe "buttonInDiv" */
    font-size: 1rem;
}