button {
    background-color: beige;
    padding: 5px;
    margin: 5px;
    width: 60px;
    border-radius: 5px
}

#buttonOutsideDiv {
    border-color: yellow;
}

.buttonInDiv {
    font-size: 1rem;
}

/** 
TODO faire les commentaires ici
et finir le style de l'index
*/